* {
    box-sizing: border-box;
    text-align: center;
}

body {
    background: darkgrey;
    font-size: 24px;
    line-height: 32px;
    width: 960px;
    margin: auto;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    background-color: lightgrey;
}

.navbar {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: lightgray;
}

.box {
    position: relative;
    width: 100%;
    height: 250px;
}

section {
    /*float: left; */
    /*display: inline-block; */
    width: 55%;
    height: 250px;
    border: 1px solid black; 
    background-color: lightgrey;

    /* padding-top: 10px;
    padding-bottom: 10px; */
}

.article {
    float: left;
    background-color: darkgray;
    height: 195px;
    width: 95%;
    border: 1px solid white;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.aside {
    /* display: inline-block; */
    position: absolute;
    top: 0px;
    right: 0px;
    /* float right; */
    background-color: lightgray;
    height: 250px;
    width: 43%;
    border: 1px solid black;
}

.h {
    float: left;
    background-color: white;
    height: 50px;
    width: 95%;
    border: 1px solid white;
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.p {
    float: left;
    background-color: white;
    height: 50px;
    width: 95%;
    border: 1px solid white;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    background-color: lightgrey;
}